body {
  margin:0px;
  background-color:rgba(247, 247, 247, 1);
  background-image:none;
  position:relative;
  left:-2px;
  width:1506px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u204 {
  position:fixed;
  left:50%;
  margin-left:-753px;
  top:63px;
  width:1506px;
  height:1px;
}
#u204_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:-50px;
  width:200px;
  height:100px;
  display:flex;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u204_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.0470588235294118);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u204_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:-20px;
  width:200px;
  height:100px;
  display:flex;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:1506px;
  height:1902px;
}
#u207_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:1902px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:1945px;
  background:inherit;
  background-color:rgba(247, 252, 252, 0.694117647058824);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:1506px;
  height:1945px;
  display:flex;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:1903px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:1504px;
  height:1903px;
  display:flex;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:linear-gradient(180deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:6px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:24px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:77px;
  width:186px;
  height:45px;
  display:flex;
  font-family:'雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:24px;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
  background:-webkit-linear-gradient(270deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:linear-gradient(180deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:6px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:24px;
}
#u210.mouseOver {
}
#u210_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
  background:inherit;
  background-color:rgba(42, 171, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 164, 201, 1);
  border-radius:6px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-family:'雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:24px;
}
#u210.mouseDown {
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:74px;
  width:42px;
  height:42px;
  display:flex;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:74px;
  width:42px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:84px;
  width:32px;
  height:32px;
  display:flex;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:1711px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:40px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u215 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:138px;
  width:878px;
  height:1711px;
  display:flex;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:460px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:1389px;
  width:878px;
  height:460px;
  display:flex;
}
#u216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:878px;
  height:559px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:40px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:1290px;
  width:878px;
  height:559px;
  display:flex;
}
#u217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u218 {
  position:fixed;
  left:50%;
  margin-left:-754px;
  top:0px;
  width:1508px;
  height:63px;
}
#u218_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1508px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:20px;
  width:101px;
  height:50px;
  display:flex;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
}
#u219 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u219_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
}
#u219.mouseOver {
}
#u219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
}
#u220 {
  border-width:0px;
  position:absolute;
  left:1256px;
  top:20px;
  width:76px;
  height:50px;
  display:flex;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
}
#u220 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u220_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
}
#u220.mouseOver {
}
#u220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
  line-height:20px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:1328px;
  top:20px;
  width:83px;
  height:50px;
  display:flex;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
  line-height:20px;
}
#u221 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u221_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:rgba(34, 34, 34, 0.8);
  line-height:20px;
}
#u221.mouseOver {
}
#u221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Richie Brusher Richie Brusher Bold', 'Richie Brusher Richie Brusher', 'Richie Brusher', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:rgba(0, 0, 0, 0.898039215686275);
}
#u222 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:8px;
  width:195px;
  height:31px;
  display:flex;
  font-family:'Richie Brusher Richie Brusher Bold', 'Richie Brusher Richie Brusher', 'Richie Brusher', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:rgba(0, 0, 0, 0.898039215686275);
}
#u222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u222_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Richie Brusher Richie Brusher Bold', 'Richie Brusher Richie Brusher', 'Richie Brusher', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:rgba(0, 0, 0, 0.898039215686275);
}
#u222.mouseOver {
}
#u222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  padding:2px 2px 2px 2px;
  font-family:'LCDMono2 ', 'LCDMono2', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u223_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  padding:2px 2px 2px 2px;
  font-family:'LCDMono2 ', 'LCDMono2', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.8);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LCDMono2 ', 'LCDMono2', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.8);
}
#u223 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:40px;
  width:189px;
  height:19px;
  display:flex;
  font-family:'LCDMono2 ', 'LCDMono2', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.8);
}
#u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u223_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:19px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'LCDMono2 ', 'LCDMono2', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.8);
}
#u223.disabled {
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1481px;
  height:2px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:60px;
  width:1480px;
  height:1px;
  display:flex;
  opacity:0.3;
  color:rgba(211, 207, 213, 0.36078431372549);
}
#u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:45px;
  width:7px;
  height:9px;
  display:flex;
  opacity:0.6;
  color:#000000;
}
#u225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:9px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:45px;
  width:7px;
  height:9px;
  display:flex;
  opacity:0.6;
  color:#000000;
}
#u226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(34, 34, 34, 0.8);
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1384px;
  top:4px;
  width:124px;
  height:30px;
  display:flex;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(34, 34, 34, 0.8);
}
#u227 .text {
  position:absolute;
  align-self:center;
  padding:0px 15px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u227_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Open Sans Bold', 'Open Sans Regular', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:rgba(34, 34, 34, 0.8);
}
#u227.mouseOver {
}
#u227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:165px;
  width:561px;
  height:9px;
  display:flex;
}
#u228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'汉仪全唐诗简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:174px;
  width:159px;
  height:34px;
  display:flex;
  font-family:'汉仪全唐诗简', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:9px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1788px;
  width:561px;
  height:9px;
  display:flex;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:1388px;
  background:inherit;
  background-color:rgba(213, 220, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:224px;
  width:5px;
  height:1388px;
  display:flex;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:234px;
  width:792px;
  height:186px;
  display:flex;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:443px;
  width:792px;
  height:186px;
  display:flex;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:652px;
  width:792px;
  height:186px;
  display:flex;
}
#u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:861px;
  width:792px;
  height:186px;
  display:flex;
}
#u235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1070px;
  width:792px;
  height:186px;
  display:flex;
}
#u236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1279px;
  width:792px;
  height:186px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:490px;
  width:36px;
  height:36px;
  display:flex;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:279px;
  width:36px;
  height:36px;
  display:flex;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:699px;
  width:36px;
  height:36px;
  display:flex;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:906px;
  width:36px;
  height:36px;
  display:flex;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1116px;
  width:36px;
  height:36px;
  display:flex;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1324px;
  width:36px;
  height:36px;
  display:flex;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:186px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:1488px;
  width:792px;
  height:186px;
  display:flex;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1533px;
  width:36px;
  height:36px;
  display:flex;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:4px;
  background:inherit;
  background-color:rgba(128, 128, 128, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1913px;
  width:88px;
  height:4px;
  display:flex;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:1965px;
  width:200px;
  height:1px;
  display:flex;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'雅痞-简 Bold', '雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#428BCA;
  line-height:27px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:1706px;
  width:168px;
  height:57px;
  display:flex;
  font-family:'雅痞-简 Bold', '雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#428BCA;
  line-height:27px;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u248_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:57px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'雅痞-简 Bold', '雅痞-简 常规体', '雅痞-简', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:27px;
  color:#428BCA;
  line-height:27px;
}
#u248.mouseOver {
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:57px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:1706px;
  width:58px;
  height:57px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
